.polkadot {
  position: absolute;
  z-index: 0;
  left: 0;
  opacity: 0.7;
  background-image: radial-gradient(#007cf000 1px, transparent 1px),
    radial-gradient(#007cf077 1px, transparent 1px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
}

.slantedx {
  height: 50px;
  clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
}

@media (min-width: 768px) {
  .slantedx {
    height: 100px;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  }
}

.slantedy {
  height: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 50px, 0 0);
}

@media (min-width: 768px) {
  .slantedy {
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 0);
  }
}
