@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/Inter.woff2") format("woff2");
  }
}
